<table>
  <thead>
    <tr>
      @for (item of columns; track $index) {
        <th>{{ item }}</th>
      }
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of dataList; track $index) {
      <tr>
        @for (col of columns; track $index) {
          @if (col == 'birthdate') {
            <td>{{ item[col] | date: 'fullDate' }}</td>
          } @else {
            <td>{{ item[col] | titlecase }}</td>
          }
        }
        <td confirmModal (deleteItem)="deleteItem(item.id)" class="actions"><img src="trash.png"></td>
      </tr>
    }
  </tbody>
</table>
