<section class="login-container">
  <form class="card-container border-container" [formGroup]="loginForm">
    <label class="main-title">Login</label>

    <div class="form-input-container">
      <label for="">User</label>

      <input type="text" [formControlName]="'username'">
      @if (loginForm.get('username')?.getError('required') && loginForm.get('username')?.touched) {
        <span>Este valor es requerido</span>
      }
    </div>

    <div class="form-input-container">
      <label for="">Password</label>

      <input type="password" [formControlName]="'password'">
      @if (loginForm.get('password')?.getError('required') && loginForm.get('password')?.touched) {
        <span>Este valor es requerido</span>
      }
    </div>

    <button class="btn" (click)="signIn()" [disabled]="loginForm.invalid">Sign in</button>
  </form>
</section>
