<section class="dashboard-container">
  <div class="dashboard-menu-container">
    <div class="logo-container">
      <img src="logo.png" alt="">
    </div>
    <app-dashboard-menu [menuItems]="menuItems"></app-dashboard-menu>
  </div>

  <div class="dashboard-content-container">
    <div class="dashboard-content-header">
      <span >SISTEMA DE VENTAS DEV CODE</span>
      <span (click)="logout()" ><mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
      </span>
    </div>

    <div class="dashboard-content-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
