.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100%;

  .dashboard-menu-container {
    width: 330px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .dashboard-content-container {
    width: calc(100% - 330px);
    display: flex;
    flex-direction: column;

    .dashboard-content-header {
      height: 50px;
      background-color: rgb(163, 163, 163);
    }

    .dashboard-content-body {
      height: calc(100% - 50px);
      padding: 100px;;
    }

  }
}
