.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  padding: 5px 0;

  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #36815c;
    }
  }

  label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}


.btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #36815c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2a5e4a;
  }
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
}

.border-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
